.post {
    background-color: white;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.post__headr {
    display: flex;
    margin-bottom: 10px;
}
.btn-disabled-state{
    background: transparent;
    border: none;
    cursor: pointer;
}
.post__info {
    margin-left: 10px;
}

.post__info  > p {
    font-size: 12px;
    color: gray;
}
.icon-color{
    color : gray;
}

.post_body  {
    overflow-wrap: anywhere;
}


.post__info  > h2 {

    font-size: 15px;
 
}

.post__buttons {
    display: flex;
    justify-content: space-evenly;
}